*
{
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
html, body
{
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: #333;
    overflow: hidden;
    user-select: none;
}
h2
{
    margin: 0 auto;
    position: relative;
    top: 10%;
    left: 32%;
    color: white;
    text-transform: uppercase;
    font-size: 500%;
}
.container
{
    max-width: 800px;
    height: 60%;
    background-color: #222;
    margin: 0 auto;
    position: relative;
    top: 10%;
    -webkit-box-shadow: 0px 0px 136px -42px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 136px -42px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 136px -42px rgba(0,0,0,0.75);
}
.lewy
{
    width: 30%;
    height: 100%;
    float: left;
}
.prawy
{
    width: 70%;
    height: 100%;
    float: left;
}
%test
{
    content: '';
    position: absolute;
    transition: all 300ms ease;
}
%boxes
{
    width: 175px;
    height: 26%;
    margin: 30px auto;
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    padding-top: 24%;
    font-size: 150%;
    transition: all 300ms ease;
}
%button
{
    &::before
    {
        @extend %test;
        left: 0px;
        bottom: 0px;
        height: 0;
        width: 100%;
        transform: skewX(45deg);
    }
    &::after
    {
        @extend %test;
        right: 0px;
        top: 0px;
        height: 100%;
        width: 0;
        transform: skewY(45deg);
    }
    &:hover
    {
        transform: translate(-15px, -15px);
        &::before
        {
            @extend %test;
            bottom: -15px;
            height: 15px;
            left: 8px;
            width: 100%;
        }
        &::after
        {
            @extend %test;
            top: 8px;
            right: -15px;
            height: 100%;
            width: 15px;
        }
    }
}
%newhover
{
    &:hover
    {
    transform: translate(-7px, -7px);
        &::before
        {
            @extend %test;
            bottom: -7px;
            height: 7px;
            left: 4px;
            width: 100%;
        }
        &::after
        {
            @extend %test;
            top: 4px;
            right: -7px;
            height: 100%;
            width: 7px;
        }
    }
}
.first
{
    @extend %boxes;
    @extend %button;
    background-color: #f25022;
    &::before
    {
        background-color: darken(#f25022, 20%);
    }
    &::after
    {
        background-color: darken(#f25022, 10%);
    }
}
.sec
{
    @extend %boxes;
    @extend %button;
    background-color: #7fba00;
    &::before
    {
        background-color: darken(#7fba00, 20%);
    }
    &::after
    {
        background-color: darken(#7fba00, 10%);
    }
}
.thrd
{
    @extend %boxes;
    @extend %button;
    background-color: #00a4ef;
    &::before
    {
        background-color: darken(#00a4ef, 20%);
    }
    &::after
    {
        background-color: darken(#00a4ef, 10%);
    }
}
.main
{
    width: 90%;
    height: 57.3%;
    margin: 30px auto;
    color: white;
    font-size: 200%;
    padding: 15px;
    text-align: justify;
}
.mainbut
{
    width: 100%;
    height: 50%;
    font-size: 60%;
    text-align: center;
}
%mainbut
{
    width: 20%;
    height: 55%;
    float: left;
    margin: 30px 11px 0;
    padding-top: 30px;
    vertical-align: middle;
    text-transform: uppercase;
    font-weight: 400;
    transition: all 300ms ease;
}
.selectb
{
    @extend %mainbut;
    @extend %button;
    background-color: #7fba00;
    &::before
    {
        background-color: darken(#7fba00, 20%);
    }
    &::after
    {
        background-color: darken(#7fba00, 10%);
    }
    @extend %newhover;
}
.insertb
{
    @extend %mainbut;
    @extend %button;
    background-color: #00a4ef;
    &::before
    {
        background-color: darken(#00a4ef, 20%);
    }
    &::after
    {
        background-color: darken(#00a4ef, 10%);
    }
    @extend %newhover;
}
.baseb
{
    @extend %mainbut;
    @extend %button;
    background-color: #ffb900;
    &::before
    {
        background-color: darken(#ffb900, 20%);
    }
    &::after
    {
        background-color: darken(#ffb900, 10%);
    }
    @extend %newhover;
}
.deleteb
{
    @extend %mainbut;
    @extend %button;
    background-color: lighten(#f25022, 7%);
    &::before
    {
        background-color: lighten(#f25022, 6%);
    }
    &::after
    {
        background-color: lighten(#f25022, 5%);
    }
    @extend %newhover;
}
.frd
{
    @extend %boxes;
    background-color: #ffb900;
    float: left;
    margin: 0 30px;
    width: 220px;
    padding-top: 10%;
    @extend %button;
    background-color: #ffb900;
    &::before
    {
        background-color: darken(#ffb900, 20%);
    }
    &::after
    {
        background-color: darken(#ffb900, 10%);
    }
}
.fve
{
    @extend %boxes;
    float: left;
    background-color: #00a4ef;
    margin: 0 30px;
    width: 220px;
    padding: 2% 1%;
    font-size: 110%;
}
a
{
    color: white;
    text-decoration: none;  
}
form
{
    width: 100%;
    height: 20%;
}
label
{
    display: inline-block;
    width: 100%;
}
%p
{
    margin: 0;
    width: 35%;
    float: left;
}
.psel
{
    @extend %p;
    font-size: 97%;
}
.pins
{
    @extend %p;
    font-size: 72%;
    margin-top: 5px;
    margin-right: 30px;
}
.pins2
{
    @extend %p;
    text-align: left;
    font-size: 62%;
    margin-top: 18%;
}
%input
{
    width: 50%;
    height: 35px;
    float: left;
    margin-top: 3px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: 1px solid darken(#7fba00, 10%);
    border-right: none;
    outline: none;
    transition: all 300ms ease;
    &:focus
    {
        border: 1px solid darken(#7fba00, 20%);
        border-right: none;
    }
}
.text
{
    @extend %input;
}
.textins
{
    @extend %input;
    width: 58%;
    border-radius: 4px;
    &:focus
    {
        border: 1px solid darken(#00a4ef, 20%);
    }
}
.submtins
{
    width: 30%;
    height: 40px;
    background-color: darken(#00a4ef, 3%);
    border-radius: 4px;
    border: none;
    border: 1px solid darken(#00a4ef, 10%);
    outline: none;
    color: white;
    float: right;
    margin: 30px;
    &:active
    {
        background-color: darken(#00a4ef, 4%);
    }
}
.submtdel
{
    width: 30%;
    height: 40px;
    background-color: darken(#f25022, 20%);
    border-radius: 4px;
    border: none;
    border: 1px solid darken(#f25022, 30%);
    outline: none;
    color: white;
    float: right;
    margin: 30px;
    &:active
    {
        background-color: darken(#f25022, 25%);
    }
}
.submt
{
    width: 15%;
    height: 35px;
    float: left;
    margin-top: 3px;
    outline: none;
    border: 1px solid darken(#7fba00, 10%);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: darken(#7fba00, 3%);
    color: white;
    transition: all 300ms ease;
    border-left: none;
    &:active
    {
        background-color: darken(#7fba00, 4%);
    }
}
.text:focus + .submt
{
    border: 1px solid darken(#7fba00, 20%);
    border-left: none;
}
%tab
{
    width: 100%;
    height: 68%;
    overflow: auto;
    font-size: 50%;
    margin: 0 auto;
    text-align: center;
}
.tabcontainer
{
    @extend %tab;
}
.tabcontainerbaza
{
    @extend %tab;
    height: 100%;
}
%table
{
    border-collapse: collapse;
    margin: 0 auto;
    text-align: center;
}
table
{
    @extend %table;
    border: 1px darken(#7fba00, 25%) solid;
}
.table1
{
    @extend %table;
    border: 1px darken(#ffb900, 25%) solid;
    width: 97%;
}
.maintab
{
    background-color: darken(#7fba00, 15%) !important;
}
.maintabbaza
{
    background-color: darken(#ffb900, 15%) !important;
}
tr
{
    background-color: darken(#7fba00, 2%);
    transition: all 200ms ease;
    &:nth-child(even)
    {
        background-color: lighten(#7fba00, 4%);
    }
    &:hover
    {
        background-color: darken(#7fba00, 2%);
    }
}
.trbaza
{
    background-color: darken(#ffb900, 2%);
    transition: all 200ms ease;
    &:nth-child(even)
    {
        background-color: lighten(#ffb900, 4%);
    }
    &:hover
    {
        background-color: darken(#ffb900, 2%);
    }
}
td, th
{
    padding: 10px 15px;
}
.osoby 
{
    font-size: 70%;
    text-decoration: uppercase;
    text-align: center;
    margin: 10px 0 0;
}

